# Telegram
TELEGRAM_BOT_TOKEN=<YOUR BOT TOKEN>

# SQS (Resume)
RESUME_QUEUE_URL=<YOUR QUEUE URL>
POLLING_INTERVAL_MS=10000

# AWS
ENDPOINT_URL=<YOUR ENDPOINT URL>
AWS_ACCESS_KEY_ID=<YOUR ACCESS KEY ID>
AWS_SECRET_ACCESS_KEY=<YOUR SECRET ACCESS KEY>
AWS_REGION=ap-southeast-1
AWS_PROFILE=covr

# Chroma DB
CHROMADB_HOST=0.0.0.0
CHROMADB_PORT=8000
CHROMA_CLIENT_AUTH_PROVIDER=chromadb.auth.token_authn.TokenAuthClientProvider
CHROMA_CLIENT_AUTH_CREDENTIALS=<YOUR SECRET>
CHROMA_AUTH_TOKEN_TRANSPORT_HEADER=X-Chroma-Token
PERSIST_DIRECTORY=/storage/chroma-storage
