*.pyc

# Packages
/dist/*

# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
.mypy_cache

.venv
/poetry.toml

# Test Data
knowledge_base
knowledge_base/*

# Local Database
infra/local/chroma-data

# Environment Variables
.env
